/** 공통 영역 */
* {
  margin : 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0 auto;
}

.content {
  width: 1440px;
  margin: 0 auto;
}


/** header 영역 */

header {
  display: flex;
  margin-top: 10px;
  background-color: #EDF5FE;
  height: 50px;
}

header >:nth-child(1) {
  margin-left: auto;
  margin-right: 10px;
} 

.login_btn, .logout_btn {
  background-color: #7EAAFF;
  font-weight: 700;
  height: 100%;
}

nav {
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: space-between;
}

.category {
  display: flex;
  align-items: center;
}

.category_list {
  height: 60px;
  background-color: #EDF5FE;
}

.category_name {
  display: none;
  text-align: center;
  margin-top: 20px;
}

.category_list i {
  font-size : 3em;
  width: 100px;
  text-align: center;
  line-height: 60px;
}

.logo_box {
  width: 300px;
}


.logo_box img {
  max-width: 100%;
  height : 150px;
}

.search_area {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #EDF5FE;
  height: 50px;
  width: 370px;
  border-radius: 8px;
  background-color: #EDF5FE;
}

.search_area .search {
  width: 300px;
  border: none;
  outline: 0;
  background-color: #EDF5FE;
  font-weight: 500;
  font-size: 22px;
  
}

.search_area i {
  margin-left: 15px;
  font-size: 1.5em;
}

.search_area input::placeholder {
  color: #49454F;
}

.right_area {
  display: flex;
}

.right_area > :not(:nth-child(1)) {
  margin-left: 25px;
}

.right_area i {
  font-size: 3em;
  color: #007AFF;
}

.right_area img {
  height: 50px;
}


section {
  width: 100%;
  height: 500px;
  background-color: #007AFF;
}